<main>
  <div class="left-container">
    <div class="user-infos-container">
      <h2>Online Users</h2>
      <div *ngFor="let user of connectedUsers">{{ user }}</div>
    </div>
    <div class="bottom-user-infos-container">
      <span>Username : {{ userName }}</span>
      <button mat-raised-button color="basic" (click)="logout()">Logout</button>
    </div>
  </div>
  <div class="chat-container">
    <div class="chat-display-container">
      <!-- Display chat messages here -->
      <div *ngFor="let message of messages">
        <div class="msg-container">
          <span class="msg-user">{{ message.user }}</span>
          <span class="msg-content">{{ message.message }}</span>
        </div>
      </div>
    </div>
    <div class="bottom-chat-btns">
      <form class="example-form" (ngSubmit)="sendMessage()">
        <mat-form-field class="example-full-width">
          <mat-label>Message</mat-label>
          <input
            matInput
            #messageInput
            maxlength="1000"
            placeholder="Type your message..."
            [(ngModel)]="messageToSend"
            name="messageToSend"
            required
          />
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!messageToSend"
        >
          Send
        </button>
      </form>
    </div>
  </div>
</main>
